{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <a href="/members/create">Novo</a>
    <table width="100%">
        <thead>
            <tr>
                <th>Membro</th>
                <th>Email</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>
                        <span style="background-image: url({{member.avatar_url}})"></span>
                        {{member.name}}
                    </td>
                    <td>{{member.email}}</td>
                    <td>{{member.weight}}kg</td>
                    <td>{{member.height}}cm</td>
                    <td><a href="/members/{{member.id}}">ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {#<section class="avatar" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center / cover" ></section>
     <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Instrutor</div>
            <div>Guilherme</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>31</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Musculação</span>
                <span>CrossFit</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>
    </section> #}
</div>

{% endblock content %}